### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [489]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
df = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(df)

In [490]:
#fix header spacing problem
df=df.rename(columns={" Price ": "Price"}) 
_df=df
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [409]:
#Player count
count = len(df["SN"].unique())

#practic data base formatting
ttl_players = [{'Total Players': count}]
total = pd.DataFrame(ttl_players)
total

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [410]:
#calculations
unique = len(df['Item Name'].unique()) 
average = df['Price'].mean()
purchases = df['Purchase ID'].count()
revenue = df['Price'].sum()

#data frame
new_df = [{'Number of Unique Items': unique,
          'Average Price': average,
          'Number of Purchases': purchases,
          'Total Revenue': revenue},]
#cleaner formatting
New_df = pd.DataFrame(new_df).style.format({'Average Price':'${0:,.2f}', 'Total Revenue':'${0:,.2f}'})
New_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [411]:
#counts of players by gender
m = df[ df['Gender']=='Male'] 
male = len(m["SN"].unique())
f = df[ df['Gender']=='Female'] 
female = len(f["SN"].unique())
o = df[ df['Gender']=='Other / Non-Disclosed'] 
other = len(o["SN"].unique())

#percentages of players based on gender
PPmale = (float(male)/float(count))*100
PPfemale = (float(female)/float(count))*100
PPother = (float(other)/float(count))*100

In [412]:
#data frame
Gender_one = [{'Total Count': male, 'Percentage of Players': PPmale, 'Gender': 'Male'},
                  {'Total Count': female, 'Percentage of Players': PPfemale, 'Gender': 'Female'},
                  {'Total Count': other, 'Percentage of Players': PPother, 'Gender': 'Other/Non-Disclosed'}]

Gender_one_df = pd.DataFrame(Gender_one)
GenderfLst = Gender_one_df.set_index('Gender').style.format({'Percentage of Players':'{0:,.2f}%'})
GenderfLst


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [413]:
#group by gender generate purchase count, avg purchase price, total purchase value, avg total purchase per person
df=_df
gp1 = df.groupby(['SN', 'Gender']).agg({'Price': ['sum']})
gp1 = gp1.groupby('Gender').mean() 
gp1.columns=['pp_avg']

In [414]:
gp2 = df.groupby(['Gender']).agg({'SN': 'count', 'Price':['mean', 'sum']}) 
gp2.columns=['gen_PCount','gen_Pmean','gen_Psum']

In [415]:
#merge grouped by  
df = pd.DataFrame(pd.merge(gp2,  gp1, on=['Gender'], how = 'inner'))
sty = { 'gen_PCount' : '{0:.0f}'
       ,'gen_Pmean':'${0:.2f}'
       ,'gen_Psum':'${0:.2f}'
       ,'pp_avg':'${0:.2f}'
      }

In [416]:
df.style.format
df.columns=['Purchase Count'
      ,'Average Purchase Price'
     ,'Total Purchase Value'
      ,'Avg Total Purchase per Person']
df

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [417]:
df.columns

Index(['Purchase Count', 'Average Purchase Price', 'Total Purchase Value',
       'Avg Total Purchase per Person'],
      dtype='object')

In [418]:
#reorder columns
df = df[df.columns[[3, 0, 1, 2]]].style.format({'Avg Total Purchase per Person':'{0:,.2f}%'})
df

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [507]:
#define bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100,]

In [508]:
#age groups defined
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [509]:
#grouped max values 
gp3 = df.groupby(['SN'], as_index=False).max()

In [510]:
#counts by age, percent values
df = _df
age_groups = pd.cut(gp3['Age'], bins, labels = age_group_names)
percentage = (age_groups.value_counts()/len(age_groups))*100

In [511]:
#Data Frame
Age_Dem = age_groups.value_counts()

AgeDem_df =pd.DataFrame(percentage)
AgeDem_df['New_Col']= Age_Dem

#format columns
AgeDem_df =AgeDem_df[AgeDem_df.columns[[1, 0,]]]
AgeDem_df.columns=['Total Count'
      ,'Percentage of Players']

#sort by age(index) and format output
AgeDem_df.sort_index().style.format({'Percentage of Players':'{0:,.2f}%'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [512]:
#define bins
bins = [0, 9, 14, 19, 24, 29, 34, 39, 100,]
#age groups defined
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [514]:
age_cat = pd.cut(df['Age'], bins, labels = age_group_names)
age_cat

0      20-24
1        40+
2      20-24
3      20-24
4      20-24
       ...
775    20-24
776    20-24
777    20-24
778      <10
779    20-24
Name: Age, Length: 780, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [517]:
df_panal = _df

In [518]:
#df_panal['BINS'] = age_cat 
df_panal = df_panal.groupby(['BINS'], as_index=False).agg({'Price':['count', 'mean','sum']})
df_panal

#df_panal = df_panal[['BINS', 'Price']].copy()

    BINS Price
         count      mean      sum
0    <10    23  3.353478    77.13
1  10-14    28  2.956429    82.78
2  15-19   136  3.035956   412.89
3  20-24   365  3.052219  1114.06
4  25-29   101  2.900990   293.00
5  30-34    73  2.931507   214.00
6  35-39    41  3.601707   147.67
7    40+     6  2.785000    16.71

In [ ]:
#Purchase counts
per_count = age_cat.value_counts()
per_count

In [ ]:
purchases =

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80