### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [67]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
df = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
df = pd.read_csv(df)

In [68]:
#fix header spacing problem
df=df.rename(columns={" Price ": "Price"}) 
_df=df

## Player Count

* Display the total number of players

In [69]:
#Player count
count = len(df["SN"].unique())

#practic data base formatting
ttl_players = [{'Total Players': count}]
total = pd.DataFrame(ttl_players)
total

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [70]:
#calculations
unique = len(df['Item Name'].unique()) 
average = df['Price'].mean()
purchases = df['Purchase ID'].count()
revenue = df['Price'].sum()

#data frame
new_df = [{'Number of Unique Items': unique,
          'Average Price': average,
          'Number of Purchases': purchases,
          'Total Revenue': revenue},]
#cleaner formatting
New_df = pd.DataFrame(new_df).style.format({'Average Price':'${0:,.2f}', 'Total Revenue':'${0:,.2f}'})
New_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

#First soulution to this challenge
#counts of players by gender
m = df[ df['Gender']=='Male'] 
male = len(m["SN"].unique())
f = df[ df['Gender']=='Female'] 
female = len(f["SN"].unique())
o = df[ df['Gender']=='Other / Non-Disclosed'] 
other = len(o["SN"].unique())

#percentages of players based on gender
PPmale = (float(male)/float(count))*100
PPfemale = (float(female)/float(count))*100
PPother = (float(other)/float(count))*100

In [109]:
#df of individual players
df_players = df["SN"].unique()

In [110]:
#group by SN to organize individual players
df_group = df.groupby(['SN'], as_index=False).max()

In [112]:
#count of individual players by gender
df_gen_dem = pd.get_dummies(df_group['Gender'])
male_count = df_gen_dem['Male'].sum()
female_count = df_gen_dem['Female'].sum()
gen_queer_count = df_gen_dem['Other / Non-Disclosed'].sum()
tot_gen_count = male_count + female_count + gen_queer_count

In [74]:
#percentages of players based on gender
PPmale = (float(male_count)/float(count))*100
PPfemale = (float(female_count)/float(count))*100
PPother = (float(gen_queer_count)/float(count))*100

In [75]:
#data frame
Gender_one = [{'Total Count': male_count, 'Percentage of Players': PPmale, 'Gender': 'Male'},
                  {'Total Count': female_count, 'Percentage of Players': PPfemale, 'Gender': 'Female'},
                  {'Total Count': gen_queer_count, 'Percentage of Players': PPother, 'Gender': 'Other/Non-Disclosed'}]

Gender_one_df = pd.DataFrame(Gender_one)
GenderfLst = Gender_one_df.set_index('Gender').style.format({'Percentage of Players':'{0:,.2f}%'})
GenderfLst


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [145]:
#group by gender generate purchase count, avg purchase price, total purchase value
df=_df
df_gp1 = df.groupby(['Gender'])

purch_count = df_gp1["Purchase ID"].count()
Avg_purch_price = df_gp1['Price'].mean() 
TTL_purchVal = df_gp1['Price'].sum()

#percentage calc based on sum per person
df_sumPP = df.groupby(['SN', 'Gender']).sum()
ttl_count_gen = df_sumPP.groupby('Gender').mean()
ttl_cnt_PP = ttl_count_gen['Price']

In [146]:
# summary data frame
Gen_Purch_Anal = pd.DataFrame({'Purchase Count': purch_count, 'Average Purchase Price': Avg_purch_price, 'Total Purchase Value': TTL_purchVal, 'Avg Total Purchase per Person': ttl_cnt_PP})

In [147]:
#format columns
Gen_Purch_Anal['Average Purchase Price']=Gen_Purch_Anal['Average Purchase Price'].map('${:.2f}'.format)
Gen_Purch_Anal['Total Purchase Value']=Gen_Purch_Anal['Total Purchase Value'].map('${:.2f}'.format)
Gen_Purch_Anal['Avg Total Purchase per Person']=Gen_Purch_Anal['Avg Total Purchase per Person'].map('${:.2f}'.format)
Gen_Purch_Anal

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [79]:
#define bins
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]

In [80]:
#age groups defined
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [81]:
df_ind = df.groupby(['SN'], as_index=False).max()
df_ind = pd.DataFrame(df_ind)

In [82]:
#cut by age range
df_ind['Age Ranges'] = pd.cut(df_ind['Age'], bins=bins, labels = group_names, include_lowest=True, right=False)

In [83]:
#group by age range calculate values
df_ind_gp = df_ind.groupby(['Age Ranges'])
#total count of players by age
tot_count = df_ind_gp['Age'].count()
#percent of players by age
per_players = (tot_count/len(df_ind))*100

In [84]:
#summary data frame
Age_Demo = pd.DataFrame({'Total Count': tot_count, 'Percentage of Players': per_players})

In [85]:
Age_Demo['Percentage of Players']=Age_Demo['Percentage of Players'].map('{:.2f}%'.format)
Age_Demo

            Total Count Percentage of Players
Age Ranges
<10                  17                 2.95%
10-14                22                 3.82%
15-19               107                18.58%
20-24               258                44.79%
25-29                77                13.37%
30-34                52                 9.03%
35-39                31                 5.38%
40+                  12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [86]:
#define bins
bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
#age groups defined
group_names = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [87]:
#cut by age range
df['Age Ranges'] = pd.cut(df['Age'], bins=bins, labels = group_names, include_lowest=True, right=False)

In [88]:
#group by bin, calculations for data frame
df_group = df.groupby(['Age Ranges'])

cnt_pruchase = df_group["Purchase ID"].count()
tot_val = df_group["Price"].sum()

avg_PPrice = tot_val/cnt_pruchase
avg_TPP = tot_val/tot_count

In [89]:
#combine calculations into data frame
Purch_Anal = pd.DataFrame({'Purchase Count': cnt_pruchase, 'Average Purchase Price': avg_PPrice, 'Total Purchase Value': tot_val, 'Avg Total Purchase per Person':avg_TPP})
#format columns
Purch_Anal['Average Purchase Price']=Purch_Anal['Average Purchase Price'].map('${:.2f}'.format)
Purch_Anal['Total Purchase Value']=Purch_Anal['Total Purchase Value'].map('${:.2f}'.format)
Purch_Anal['Avg Total Purchase per Person']=Purch_Anal['Avg Total Purchase per Person'].map('${:.2f}'.format)
Purch_Anal

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [90]:
df=_df

In [91]:
#group by screen name
df_SNgroup = df.groupby(['SN'])

#create column calculatons
df_count = df_SNgroup['Purchase ID'].count()
total_value = df_SNgroup['Price'].sum()
avg_Purch_Price = df_SNgroup['Price'].mean()

In [92]:
#create summery data frame
Top_Spenders = pd.DataFrame({'Purchase Count': df_count, 'Average Purchase Price': avg_Purch_Price, 'Total Purchase Value': total_value})
df_sorted = Top_Spenders.sort_values(by='Total Purchase Value', ascending=False)

In [93]:
#format cells
df_sorted['Average Purchase Price']=df_sorted['Average Purchase Price'].map('${:.2f}'.format)
df_sorted['Total Purchase Value']=df_sorted['Total Purchase Value'].map('${:.2f}'.format)
df_sorted.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [94]:
#group by item id, item name
df_IDgroup = df.groupby(['Item ID','Item Name'])

#create column calculatons
df_purch_count = df_IDgroup['Price'].count()
item_price = df_IDgroup['Price'].mean()
ttl_purch_value = df_IDgroup['Price'].sum()

In [96]:
#create summery data frame
Most_Pop = pd.DataFrame({'Purchase Count': df_purch_count, 'Item Price': item_price, 'Total Purchase Value': ttl_purch_value})
df_sort_Most_Pop = Most_Pop.sort_values(by='Purchase Count', ascending=False)

In [97]:
#format cells
df_sort_Most_Pop['Item Price']=df_sort_Most_Pop['Item Price'].map('${:.2f}'.format)
df_sort_Most_Pop['Total Purchase Value']=df_sort_Most_Pop['Total Purchase Value'].map('${:.2f}'.format)
df_sort_Most_Pop.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [98]:
df_sort_MostPOP_item = Most_Pop.sort_values(by='Total Purchase Value', ascending=False)

In [99]:
#format cells
df_sort_MostPOP_item['Item Price']=df_sort_MostPOP_item['Item Price'].map('${:.2f}'.format)
df_sort_MostPOP_item['Total Purchase Value']=df_sort_MostPOP_item['Total Purchase Value'].map('${:.2f}'.format)
df_sort_MostPOP_item.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80